// 引用
//這個是取消全部樣式的css
@import "./reset";
@import "./var";
//這個是bubble_btn的css，記得html要引用bubble_btn動畫效果的js & TweenMax
@import "./bubblebtn";

//----------------以上不要動！！，以下開放自己的sass，按照自己的區塊放(可自己更動區塊名字)-------------------------
//首頁

//商品頁＆商品內頁

// //客製化多肉 ＆ 心理測驗
// @import "sass/custom";
// @import "sass/mindtest";

//手作課程

//部落格

//購物車＆結帳系統

//會員中心 & 會員登入

//Q&A

//----------------共用scss開始-------------------------
$html_fontsize: 62.5%;
$font_family: "Noto Sans TC", "sans-serif";
$fontsize: (
  "mini": 1.2rem,
  "small": 1.4rem,
  "normall": 1.6rem,
  "larger": 1.8rem,
  "big": 2.6rem,
);

$color: (
  // 主色
  "main_g": #2f4f4f,
  "gold": #d0c3a3,
  // Secondary 輔色
  "green1": #6a764e,
  "green2": #979f77,
  "gray": #eeebeb,
  "gray2": #efefef,
  // Accent color 強調色
  "yellow": #d9a420,
  // heart 收藏愛心
  "pink": #d87680,
  "white": #ffffff
);

%box_sizing {
  box-sizing: border-box;
}

%ex {
  padding: 50px 0;
}

@mixin img {
  width: 100%;
  @content;
}

@mixin a_link {
  text-decoration: none;
  display: block;
}

@mixin section {
  // width: 100vw;
  text-align: center;
}

@mixin article {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin btn {
  border-radius: 10px;
  padding: 15px 0;
  width: 200px; //220-250px
  @content;
}

// 推薦商品
@mixin full_wrapper {
  background-image: url(../img/background.png);
  background-position: center 0;
  background-size: cover;
}

*,
*:before,
*::after {
  @extend %box_sizing;
}

body {
  font-family: $font_family;
  color: map-get($color, "main_g");
  letter-spacing: 0.1em;
  line-height: 1.8;
  font-size: map-get($fontsize, "normall");
}

html {
  font-size: $html_fontsize;
  // font-size: 16px;
}

a {
  @include a_link;
  color: map-get($color, "main_g");
}

img {
  @include img;
}

section {
  @include section;
}

article {
  @include article;
  overflow: hidden;
  padding: 20px;
}

.btn_green {
  a {
    background-color: map-get($color, "main_g");
    color: map-get($color, "white");
    margin: 0px auto;
    @include btn;
    @include a_link;
  }
}

.btn_yellow {
  a {
    background-color: map-get($color, "yellow");
    margin: 0px auto;
    @include btn;
    @include a_link;
  }
}

.ex {
  @extend %ex;
}

.btn {
  @include btn;
}

// 動態
.-shop-click {
  background-color: map-get($color, "gray2");
}

.-show-flex {
  display: flex;
}

.-show-block {
  display: block;
}

.-red {
  color: red;
}

.-pro-border {
  border: 5px solid;
}

.-pro-bb {
  border-bottom: 2px solid;
}

// 麵包屑
.bread {
  float: left;
  font-size: map-get($fontsize, "mini");
  display: flex;
}

.full_wrapper {
  @include full_wrapper;
}

// 開始
.product_up {
  @include flex() {
    align-items: flex-start;
  }
}

.product_left {
  width: 50%;
  &_simg {
    @include flex() {
      justify-content: space-around;
      &_smpic img {
        cursor: pointer;
      }
    }
  }
}

.product_right {
  width: 50%;
  margin-left: 50px;
  text-align: left;
}

.product_title {
  font-size: map-get($fontsize, "big");
  margin-bottom: 20px;
}

.product_tag {
  @include flex() {
    justify-content: flex-start;
  }
  &_cust,
  &_new,
  &_hot {
    font-size: map-get($fontsize, "small");
    padding: 5px;
    border: 1px solid;
    margin: 0 5px;
    margin-bottom: 20px;
  }
  &_new {
    color: map-get($color, "pink");
  }
  &_hot {
    color: map-get($color, "yellow");
  }
}

.product_word {
  margin-bottom: 20px;
}

.product_price {
  font-size: map-get($fontsize, "big");
  margin-bottom: 20px;
}

.product_amount {
  margin-bottom: 20px;
  label {
    margin-right: 10px;
  }
  .fas {
    cursor: pointer;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .createFollowCheck input[type="number"] {
    -moz-appearance: textfield;
  }
  &_number {
    text-align: center;
    width: 30px;
    height: 30px;
  }
}

// 賀卡
.product_cardcheck {
  @include flex() {
    justify-content: flex-start;
  }
  margin-bottom: 20px;
  input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.product_card {
  display: flex;
  flex-direction: column;
  input {
    padding: 5px 10px;
    margin-bottom: 20px;
  }
  textarea {
    margin-bottom: 20px;
  }
  &_style {
    @include flex() {
      flex-wrap: wrap;
    }
    li {
      padding: 10px;
      text-align: center;
    }
  }
  &_second {
    display: flex;
  }
  display: none;
}

// 加入購物車按鈕樣式-開始
.bubble_btnn {
  margin: 40px 0;
}

.button--bubble {
  width: 100%;
  text-align: center;
}

.button--bubble__container {
  width: 100%;
}
// 加入購物車按鈕樣式-結束

// 收藏我的按鈕樣式
.btn_green {
  a {
    background-color: transparent;
    border: 2px solid #2f4f4f;
    color: #2f4f4f;
    margin: 0;
    margin-left: auto;
    @include flex;
  }
  .fa-heart {
    margin-right: 20px;
    font-size: map-get($fontsize, "big");
  }
}

// product_downa
.product_tabs {
  @include flex;
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 33.33%;
    font-size: map-get($fontsize, "big");
  }
}

.product_content_notice {
  display: none;
}

.product_content_word {
  font-size: map-get($fontsize, "larger");
}

.product_content_assess {
  ol li {
    @include flex() {
      justify-content: space-between;
    }
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 20px;
    width: 960px;
    margin: 0 auto;
  }
  display: none;
}

.product_assess_star {
  margin-right: auto;
  margin-left: 50px;
  .fa-star {
    color: map-get($color, "yellow");
  }
}

.product_other {
  h2 {
    text-align: left;
    font-size: map-get($fontsize, "big");
  }
  &_hot {
    @include flex;
    li {
      width: 25%;
      padding: 10px;
    }
  }
}

// footer
footer {
  background-color: #2f4f4f;
  color: #fff;
  font-size: 12px;
}

footer a {
  color: #fff;
}

footer article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
}

footer .line {
  border-left: 2px solid #fff;
  height: 165px;
}

.brand_info {
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.brand_info ul {
  display: flex;
  justify-content: space-between;
}

.brand_info ol {
  display: flex;
  justify-content: flex-start;
  font-size: 28px;
}

.brand_info li {
  margin-right: 30px;
}

.logo_info {
  line-height: 2;
}

.logo_info img {
  display: block;
  width: 250px;
  margin-bottom: 20px;
}
